* {
    box-sizing: border-box;
 }
 
 body {
    background-color: #D3DEDC;
    margin: auto;
    text-align: center;
    height: 100vh;
    width: 100vw;
 }
 h2{
    margin-top: 50px;
    font-size: 50px;

 }

 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 10px 80px;
 
 }
 
 .details {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 150px;
    justify-content: space-between;
    margin: 10px;
    border: 3px solid #7C99AC;
    border-radius: 15px;
    background-color:#92A9BD;
 }
 .details :hover{
    color: crimson;
 }
 .container :hover {
    cursor: pointer;
    background-color: cadetblue;
    border-radius: 45px;

 
 }
 .name{
     color: black;
     font-size: 20px;
     text-transform: capitalize;
 }
 
 span {

    width:100px;

    color: #FFEFEF;
    text-align: left;
    padding: 10px 10px;
 }
 
 