.btn-1{
    font-size: xx-large;
    width:100px;
    height:100px;
    background-color: goldenrod;
    margin:50px;
    border-radius: 50%;
}
.btn-2{
    font-size: xx-large;

    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: goldenrod;
    margin:50px;
    


}
.btn-3{
    font-size: xx-large;
    
    width:100px;
    height:80px;
    border-radius: 20%;
    background-color: goldenrod;
    margin-top: 5px;
    margin-left: 700px;

}


#counter{
    color:darkgreen;
    text-align: center;
    font-size: xx-large;
    
    background-color: cornsilk;
    border: 5px solid red;
    height:100px;
    width:100px;
    border-radius: 50%;
   

}
div{
    display:flex;
    align-items: center;
    height: 400px;
    width:500px;
    border-radius: 30%;
    background-color: darkslategray;
    margin-left: 500px;
    
    

}
body{
    background-color: floralwhite;
}
h1{
    text-align: center;
}